<div class="col-md-12">
   <h2>Create Meal Package</h2>
</div>

<div class="container">
    <form method="post" action="/dataClerk/package/add" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="packageID">Package ID:</label>
                    <input class="form-control" id="packageID" name="packageID" type="text">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="name">Meal Package Name:</label>
                    <input class="form-control" id="packageName" name="name" type="text"/>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="price">Meal Package Price:</label>
                    <input class="form-control" id="packagePrice" name="price" type="text"/>
                </div>
            </div>    
        </div>

                    
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label for="description">Meal Package Description:</label>
                    <textarea class="form-control" id="packageDescription" name="description" type="text"></textarea>
                </div>
            </div>
        </div>

                    
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="category">Category:</label>
                    <input class="form-control" id="foodCategory" name="category" type="text"/>
                </div>
            </div>
       
            <div class="col-md-2">
                <div class="form-group">
                    <label for="meals">Number of Meals:</label>
                    <input class="form-control" id="numOfMeals" name="meals" type="text" />
                </div>
            </div>
        </div>
                    
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="topMeal">Is this package a top package?:</label>
                    <input class="form-control" type="checkbox" name="topMeal" value="true">                                          
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="image">Upload Image:</label>
                    <input class="form-control" id="image" name="image" type="file" accept="image/png, image/jpeg, image/gif">
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-dark" value="Submit">

    </form>

</div>