<h2>Hey {{dataSession.user.fName}} {{dataSession.user.lName}}, welcome back!</h2>

<h3>What operations would you like to take care of today?</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 dash">
            <a href="/dataClerk/addPackage" class="btn btn-dark">Add Package</a>
        </div>
        <div class="col-lg-4 dash">
            <a href="/dataClerk/packageList" class="btn btn-dark">Packages List</a>
        </div>
    </div>
</div>