<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <a href="/"><img src="/img/Logo.png"></a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/MealPackages">Meal Packages</a></li>               
                </ul>
            </nav>
            <a href="/login"><button class="login-btn">Login</button></a>
            <a href="/signup"><button class="signup-btn">Sign Up</button></a>
        </header>
        
        <main>
            {{{body}}}
        </main>
        
        <footer>
            <p>
                 © 2020 Nook's Cooks North America Inc.
            </p>
            <div class="socialMedia">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
            <div class="paymentIMG">
                <img src="/img/amex.svg">
                <img src="/img/apple.svg">
                <img src="/img/google.svg">
                <img src="/img/master.svg">
                <img src="/img/shopify.svg">
                <img src="/img/visa.svg">
            </div>

        </footer>
        <script src="/js/events.js"></script>
    </body>
    </html>