<h2>Customer Login</h2>
<div class="form">
    <form method="POST" action="login" id="log">
        
        <label for="email">Email: </label>
        <input type="email" name="email">
        <div class="error">{{emailError}}</div>
        
        <label for="password">Password: </label>
        <input type="password" name="password">
        <div class="error">{{passError}}</div>
        <button id="log" name="log" value="submit">Sign In</button>
    </form>
</div>