<h2>Hey {{session.user.fName}} {{session.user.lName}}! Welcome to Nook's Cooks!</h2>

<h3>Getting started!</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 dash">
        <p>Check out our popular meal packages!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="/products/MealPackages" class="btn btn-dark">Our Meal Packages!</a>
        <a href="/products/MealPackages" class="btn btn-dark">View Shopping Cart</a>
    </div>
</div>